{% extends 'layout.html' %}

{% block body %}
    <h1>About Us</h1>
    <p class="jumbotron text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea modi accusantium facilis distinctio odio! Quis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore officiis tempora repellat fugiat. Laborum ab cumque vel, quae temporibus aspernatur!
    </p>
    <h3 class="jumbotron text-center" style= " background-color: rgb(42, 53, 53); color:brown" >by: Ammar</h3>
    
 
{% endblock %}